@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  height: 200vh;
  background: linear-gradient(to bottom, orange, white);
}

header > h3 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-left: 30px;
}

.main-section-wrapper {
  padding-left: 7%;
  display: flex;
  gap: 100px;
}

.main-section-reflex {
  width: 30%;
}

.refresh-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.right-side > input {
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
}

button {
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 90px;
  font-weight: 500;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.right-side > button {
  justify-self: flex-end;
  align-self: flex-end;
}

ul {
  width: 100%;
  border: 2px lightgray solid;
  padding-inline-start: 0;
}

h4 {
  font-size: 30px;
  color: white;
}

li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes slide {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

li:nth-child(odd) {
  background-color: white;
}

li:nth-child(even) {
  background-color: bisque;
}
